
//@theme "/home/zzz/.local/share/rofi/themes/squared-nord.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

configuration {
    font: "BigBlueTermPlusNerdFontPropo-Regular 12";
}

//@theme "/home/zzz/.local/share/rofi/themes/squared-nord.rasi"

@theme "/usr/share/rofi/themes/material.rasi"
// @theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
